<!DOCTYPE html>
<html>
  <head>
    <title>CinyujeRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="#!">Cinyuje</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>    
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#!">Todos</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="#!">Recordatorios</a></li>
                          <li><a class="dropdown-item" href="#!">Anchetas</a></li>
                          <li><a class="dropdown-item" href="#!">Globos</a></li>
                          <li><a class="dropdown-item" href="#!">Decoraciones</a></li>
                      </ul>
                      <li class="nav-item"><a class="nav-link" href="#!"></a></li>
                  </li>
              </ul>
              <form class="d-flex">
                
                  <button class="btn btn-dark" type="submit">
                      <i class="bi-cart-fill me-1"></i>
                      Carrito
                      <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                  </button>
                  <button class="btn btn-dark" type="">
                      Inicio de sesión
                  </button>
                  
              </form>
              
          </div>
      </div>
  </nav>
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Piñatería y variedades Cinyuje</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Los mejores precios para todas tus fiestas</p>
                </div>
            </div>
        </header>
 
  <section class="py-5">

            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        
                <%= yield %>
                   
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Cinyuje 2022</p></div>
        </footer>








    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
